.box {
  width: 200px;
  height: 200px;
  background-color: #fff;
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 2px solid #ffd700;
  border-left: 2px solid #ffd700;
  transition: all 0.5s ease;
}

.box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 2px solid #ffd700;
  border-right: 2px solid #ffd700;
  transition: all 0.5s ease;
}

.box:hover::before {
  width: 100%;
  height: 100%;
  transform: translateX(-1px);
  transform: translateY(-1px);
}

.box:hover::after {
  width: 100%;
  height: 100%;
  transform: translateX(1px);
  transform: translateY(1px);
}
